{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table" id="{{ module}}Table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Course_code</th>
                <th>CourseTitle</th>
                <th>Degree</th>
                <th>Major</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.courseCode }}</td>
                <td>{{ course.courseTitle }}</td>
                <td>{{ course.degree }}</td>
                <td>{{ course.major }}</td>
                <td>
                    <a href="{{ path('course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('course_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script>
        var module = '{{module}}';
    </script>
    <script src="{{ asset('js/datatables.js') }}"></script>
{% endblock %}