{% extends 'base.html.twig' %}
{% block body %}
    <h1>Academic Years</h1>

    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Academic Year</th>
                <th>Start Year</th>
                <th>End Year</th>
                <th>Status</th>
                <th>Accepting Examinee?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set num = 0 %}
        {% for academic_year in academic_years %}
            <tr class="text-center">
                <td>{{ num + 1 }}</td>
                <td>AY{{ academic_year.ayStartYear }} - {{ academic_year.ayEndYear }}</td>
                <td>{{ academic_year.ayStartYear }}</td>
                <td>{{ academic_year.ayEndYear }}</td>
                <td>{{ academic_year.status == 'a' ? 'Active' : 'Inactive' }}</td>
                <td class="text-center">{{ academic_year.isAcceptingExaminee ? 'Yes' : 'No' }}</td>
                <td class="text-center">
                    <a class="btn btn-info btn-md" href="{{ path('academic_year_show', {'id': academic_year.id}) }}">show</a>
                    <a class="btn btn-warning btn-md" href="{{ path('academic_year_edit', {'id': academic_year.id}) }}">edit</a>
                </td>
            </tr>
            {% set num = num + 1 %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-md" href="{{ path('academic_year_new') }}">Create new</a>
{% endblock %}
