{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block body %}
    <h1>Section index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SectionCode</th>
                <th>SectionName</th>
                <th>Shift</th>
                <th>MaxNoStudent</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.sectionCode }}</td>
                <td>{{ section.sectionName }}</td>
                <td>{{ section.shift }}</td>
                <td>{{ section.maxNoStudent }}</td>
                <td>{{ section.status }}</td>
                <td>
                    <a href="{{ path('section_show', {'id': section.id}) }}">show</a>
                    <a href="{{ path('section_edit', {'id': section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('section_new') }}">Create new</a>
{% endblock %}
