{% extends 'base.html.twig' %}
{% block body %}
    <h1>List of Buildings</h1>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>#</th>
                <th>Building Code</th>
                <th>Building Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set cnt = 0 %}
        {% for building in buildings %}
            <tr>
                <td class="text-center">{{ cnt + 1 }}</td>
                <td>{{ building.buildingCode }}</td>
                <td>{{ building.buildingName }}</td>
                <td>{{ building.description }}</td>
                <td class="text-center">
                    <a class="btn btn-info btn-md" href="{{ path('building_show', {'id': building.id}) }}">show</a>
                    <a class="btn btn-warning btn-md" href="{{ path('building_edit', {'id': building.id}) }}">edit</a>
                </td>
            </tr>
            {% set cnt = cnt + 1 %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a class="btn btn-primary btn-md" href="{{ path('building_new') }}">Create New Building</a>
{% endblock %}
