{% extends 'base.html.twig' %}

{% block title %}Building{% endblock %}

{% block body %}
    <h1>Building</h1>
    <a href="{{ path('building_index') }}">back to list</a> | 
    <a href="{{ path('building_edit', {'id': building.id}) }}">edit</a>

    <table class="table">
        <tbody>
            <tr>
                <th>BuildingCode</th>
                <td>{{ building.buildingCode }}</td>
            </tr>
            <tr>
                <th>BuildingName</th>
                <td>{{ building.buildingName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ building.description }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('building/_delete_form.html.twig') }}
{% endblock %}
