{% extends 'base.html.twig' %}

{% block title %}College index{% endblock %}

{% block body %}
    <h1>College index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CollegeCode</th>
                <th>Description</th>
                <th>OtherNotes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for college in colleges %}
            <tr>
                <td>{{ college.id }}</td>
                <td>{{ college.collegeCode }}</td>
                <td>{{ college.description }}</td>
                <td>{{ college.otherNotes }}</td>
                <td>
                    <a href="{{ path('college_show', {'id': college.id}) }}">show</a>
                    <a href="{{ path('college_edit', {'id': college.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('college_new') }}">Create new</a>
{% endblock %}
