{% extends 'base.html.twig' %}

{% block title %}Semester index{% endblock %}

{% block body %}
    <h1>Semester index</h1>

    <table class="table" id="{{ module}}Table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for semester in semesters %}
            <tr>
                <td>{{ semester.id }}</td>
                <td>{{ semester.name }}</td>
                <td>{{ semester.description }}</td>
                <td>
                    <a href="{{ path('semester_show', {'id': semester.id}) }}">show</a>
                    <a href="{{ path('semester_edit', {'id': semester.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('semester_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script>
        var module = '{{module}}';
    </script>
    <script src="{{ asset('js/datatables.js') }}"></script>
{% endblock %}