{% extends 'base.html.twig' %}

{% block title %}CurriculumSubjectEquivalence index{% endblock %}

{% block body %}
    <h1>CurriculumSubjectEquivalence index</h1>

    <table class="table" id="{{ module}}Table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SubjectEquivalence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for curriculum_subject_equivalence in curriculum_subject_equivalences %}
            <tr>
                <td>{{ curriculum_subject_equivalence.id }}</td>
                <td>{{ curriculum_subject_equivalence.subjectEquivalence ? curriculum_subject_equivalence.subjectEquivalence|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('curriculum_subject_equivalence_show', {'id': curriculum_subject_equivalence.id}) }}">show</a>
                    <a href="{{ path('curriculum_subject_equivalence_edit', {'id': curriculum_subject_equivalence.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('curriculum_subject_equivalence_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script>
        var module = '{{module}}';
    </script>
    <script src="{{ asset('js/datatables.js') }}"></script>
{% endblock %}